*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
}


.landingpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8% 0%; 
    height: 55vh;  
}
.landingpage h1{
    font-size: 60px;
    color: black;
    font-family: 'Kalam', cursive;
    letter-spacing: 2px;
    margin-bottom: 5%;
}
.bodymain{
    font-family: 'Arapey', serif;
    font-size: 18px;
    color: black;
    transform: translateY(-50px);
    
}

.mar{
    margin: 12% 15%;
    padding: 3%  5%;
    width: 50%;
}