*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    color: rgb(0, 0, 0);
}
.Landing-page{
    display: flex;
    justify-content: center;
    align-items: center;
     background: rgba(36, 78, 78, 0.904);
}
.container{
    margin: 0.4%;
    transform: translateX(-20%);
}
.form-design{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5%;
    padding: 5% 2%;
    width: 125%;
    background: rgba(18, 126, 126, 0.904);
    box-shadow: 10px 10px 100px black;
}
.h1-sigin-in{
    text-align: center;
    margin: 3% 0% 4% 0%;
}
.username{
    padding: 2%;
}
.name{
    display: flex;
    flex-direction: row;
}
.name input{
    width: 130px;
}
.first-name{
    padding: 2% 15%  2% 2%; 
    white-space: nowrap
}
.first-name input{
    margin-left: 2%;
}
.last-name{
    padding:2% 0% ;
    white-space: nowrap;
}
.details{
    display: flex;
    flex-direction: row;

}
.email{
    padding: 2% 13% 2% 2%;
    white-space: nowrap;

}
.email input{
    width: 200px;
    margin-left:14% ;
}
.Rol-no{
    padding: 2%;
    white-space: nowrap;
}
.Rol-no input{
    width: 100px;
}
.password{
    padding: 2%;
}
.password input{
    margin-left: 1%;
}
.c-password{
    padding: 2%;
}
.c-password input{
    margin-left: 5%;
}
.dep{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    transform: translateX(-4%);
}
.dep input{
    width: 50px;
    margin-left: 3%;
}
.year, .Department, .Section{
    padding: 2%;
    white-space: nowrap;
}
.phone-number{
    padding: 2%;
    white-space: nowrap;
}
.sign-in{
    margin: 3% 15% 1% 15%;
    width: 350px;
}
.log-in{
    text-align: center;
}