*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

nav{
    display: flex;
    flex-direction: row;
    background-color: #2F80ED;
    color: black;
}
ul{ 
    display: flex;
    flex-direction: row;
    padding-top:1% ;    

}
li{
    list-style: none;
    margin: 1% 130%;
    padding: 1% 11%;
    border: 1px black solid;    
    border-radius: 20px;

}

a{
    text-decoration: none;
    color: black;
}
